<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gymlazy.tripplanner">

    <permission android:name="com.gymlazy.tripplanner.PRIVATE"
        android:protectionLevel="signature"/>
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.gymlazy.tripplanner.PRIVATE"/>
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TripPlanner">
        <activity android:name=".TripPlannerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Controller.HotelListActivity"
            ></activity>
        <activity android:name=".Controller.HotelPagerActivity"
            android:parentActivityName=".Controller.HotelListActivity"></activity>
        <activity android:name=".Controller.HotelTicketActivity"></activity>

        <service android:name=".Controller.PollService"/>

        <receiver android:name=".Controller.StartupReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

<!--        this is result receiver-->
        <receiver android:name=".Controller.NotificationReceiver"
            android:exported="false">
            <intent-filter android:priority="-999">
                <action android:name="com.gymlazy.tripplanner.SHOW_NOTIFICATION"/>
            </intent-filter>
        </receiver>

        <provider
            android:authorities="com.gymlazy.tripplanner.tripHotels"
            android:name=".Controller.HotelsProvider"
            android:exported="true"
            android:enabled="true"/>
    </application>

</manifest>